{% extends "eflo/layout.html" %}
{% block title %}
Front Page
{% endblock %}
{% block content %}
<h2 class="lead-in">A little about me and about this website...</h2>
<p class="info_box">
The intent of this website is for me to try to tell those interested
a bit about myself and see if market my skillset. I was born and raised
in Salt Lake City, UT. I attended the University of Utah working toward
Electrical Computing and Engineering (ECE) before having to quit early and
take a non-degreed Engineering postion at a company in Draper. I continued 
my career and ended up in Naples, FL. where I have been living for the last
number of years. Due to lack of schools locally I ended up finishing my 
degree with Arizona State University in Software Engineering. In my career
I have done everything from Mechanical Engineering to Electrical Engineering.
All stuff I have enjoyed thus far. From here I'll go ahead and describe 
what these webpages contain. 
<br>
<br>
Work History is pretty self explanatory. This is essentially my resume. This 
website was created through Django. I also used a database to store and recall
this information for the website. 
<br>
<br>
The Interaction page will show the implemenatation for a user to be routed through 
AWS to a setup I have in my house. This equipment runs on an isolated subnet on
my network. On this page you can do [x and y and z and a and b and c]
<br>
<br>
This last Contacts page will provide an email address in case there is any interest to
contact me. There are also forms there that will all a message to be posted that will 
go into a database and alert me when a post has been submited. 
<br>
<br>
Thanks for stopping by!
</p>
{% endblock %}
